* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
    padding: 20px;
}

.flexed {
    display: flex;
}

.flexed-2{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 40%;
}

.main_divs {
    flex: 1;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
    left: 50px;
}

.btn {
    display: block;
    border: 1px solid black;
    box-shadow: 1px 1px black;

}

.dojos-list{
    border: 1px solid black;
    list-style-type: none;
}

.create-dojo {
    display: inline-block;
}

.forty {
    width: 40%;
}

select {
    height: 32px;
    width: 179px;
}